.main {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 45%;
}

.country {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
}

.title {
	color: black;
	font-weight: 800;
}

.container {
	display: flex;
	flex-direction: row;
}

.subTitle {
	color: black;
	font-weight: 600;
}

.label {
	color: black;
	font-weight: 300;
}