body {
  background-color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
}

.nav--bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav--bar .right {
  justify-content: flex-end;
  align-items: center;
}

.nav--bar .left {
  justify-content: flex-start;
  align-items: center;
}

.change {
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;
  width: 30px;
  padding: 16px;
}

.title {
  color: black;
  padding: 16px;
}


.select {
  display: flex;
  flex-direction: row;
}
