html {
  font-size: 62.5%;
  color-scheme: dark;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--VeryDarkBlue1);
    --text: var(--White);
    --input: var(--White);
    --elements: var(--DarkBlue);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--VeryLightGray);
    --text: black;
    --input: var(--DarkGray);
    --elements: var(--White);
  }
}

:root {
  --DarkBlue: hsl(209, 23%, 22%);
  --VeryDarkBlue1: hsl(207, 26%, 17%);
  --VeryDarkBlue2: hsl(200, 15%, 8%);
  --DarkGray: hsl(0, 0%, 52%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --maxWidth: 128rem;
  --elements:hover: hsl(209, 23%, 22%);
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
